Repository ryanep/jwt-decoder: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint, prettier --write, stylelint

Update package.json version
  package.json
Due: tslint, prettier --write

Add google notranslate metatag
  src/templates/index.html
Due: tslint, prettier --write

Move paste event handler to window object
  CHANGELOG.md
  src/index.ts
Due: tslint, prettier --write

Move jest config to json
  jest.config.js
  jest.config.json
  package.json
Due: tslint, prettier --write

Move postcss config to json file
  .postcssrc.json
Due: tslint, prettier --write

Move Cypress support files to typescript
  cypress/plugins/index.ts
  cypress/screenshots/decode.spec.ts/decoder -- should display page (failed).png
  cypress/support/commands.ts
  cypress/support/index.ts
Due: tslint, prettier --write

Fix dark mode contrast issue
  .stylelintrc
  cypress/plugins/index.ts
  src/styles/all.css
Due: tslint, prettier --write, stylelint

Disable transitions with reduced motion media query
  CHANGELOG.md
  src/styles/all.css
  src/styles/section.css
Due: prettier --write, stylelint

Add copy functionality
  src/index.ts
  src/styles/all.css
  src/styles/reset.css
  src/styles/root.css
  src/templates/index.html
Due: tslint, prettier --write, stylelint

Styling changes
  src/styles/all.css
  src/templates/index.html
Due: tslint, prettier --write, stylelint

Tidy code
  .gitignore
  CHANGELOG.md
  src/decoder.ts
  src/index.ts
  src/service-worker.ts
  src/utils/__snapshots__/json.spec.ts.snap
  src/utils/json.spec.ts
  src/utils/json.ts
  src/utils/jwt.spec.ts
  src/utils/jwt.ts
Due: tslint, prettier --write

Update tests
  package.json
  src/utils/base64.spec.ts
  src/utils/base64.ts
  src/utils/jwt.spec.ts
  src/utils/jwt.ts
Due: tslint, prettier --write

Update all dependencies
  .gitignore
  cypress/screenshots/decode.spec.ts/decoder -- should display page (failed).png
  package.json
  yarn.lock
Due: tslint, prettier --write

Upgrade all dependencies
  package.json
  yarn.lock
Due: tslint, prettier --write

Rename markdown files
  changelog.md
  readme.md
Due: none

Modify domain
  .deploy/main.tf
  .deploy/versions.tf
Due: none

chore: update readme file
  docs/icon.svg
  docs/screenshot.png
  readme.md
Due: none

Path conditions:
  tslint: any of: *.{ts,html,json}
  prettier --write: (any of: *.{ts,html,json}) or (any of: *.css)
  stylelint: any of: *.css
